@import
url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
font-family: 'Nunito', sans-serif;
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
-webkit-transition: all .2s linear;
transition: all .2s linear;
}


  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  html::-webkit-scrollbar {
    width: 1rem;
  }

  html::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb {
    background: #836FFF;
  }

  section {
    padding: 5rem 10%;
  }

  .heading-link {
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .heading-link h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #444;
  }

  .heading-link p {
    font-size: 2rem;
    line-height: 2;
    color: #777;
  }

  .heading-link p a {
    color: #836FFF;
  }

  .heading-link p a:hover {
    text-decoration: underline;
  }

  .heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: #444;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid #836FFF;
    background: #f0fdfa;
    color: #836FFF;
    cursor: pointer;
    text-transform: capitalize;
  }

  .btn:hover {
    background: #836FFF;
    color: #fff;
  }

  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
  }

  .header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    font-weight: bolder;
  }

  .header .logo i {
    color: #836FFF;
  }

  .header .navbar {
    position: relative;
  }

  .header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
    display: none;
  }

  .header .navbar #close-navbar:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .header .navbar a {
    margin-right: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
  }

  .header .navbar a:hover {
    color: #836FFF;
  }

  /* juliano  */


  /* juliano  */